$size-laptop-menu: 408px;

.laptop-menu {
	font-family: $font-main;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
	padding: 20px;
	width: $size-laptop-menu;
	height: calc(100vh - 80px);
	position: fixed;
	top: 80px;
	right: -$size-laptop-menu;
	background-color: $color-darkblue;
	transition: right 0.5s;
	border-radius: 10px 0 0 0;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__nav {
		display: flex;
		flex-flow: nowrap column;
		gap: 20px;
	}

	&__overlay {
		position: fixed;
		top: 80px;
		left: 0;
		right: 0;
		bottom: 0;
		backdrop-filter: blur(8px);
		z-index: 1;
		display: none;

		&.active {
			display: block;
		}
	}

	&.active {
		right: 0;
	}

	&__item {
		transition: color .3s;
		color: $color-white;
		&:hover {
			color: $color-blue;
		}
	}

	&__item:not(:last-child) {
		margin-bottom: 15px;
	}

	&__list {
		margin-bottom: 20px;
	}
}

@include mobile {
	.laptop-menu {
		width: 100vw;
	}
}
