.accordion-btn--hide {
	display: none;
}

.accordion-btn--active img {
	transform: rotate(180deg);
}

.accordion-content {
	max-height: 0;
	overflow-y: hidden;
	transition: max-height 0.4s;
}

.accordion-content--active {
	max-height: max-content;
}

@include laptop {
	.accordion {
		&-content {
			max-height: max-content;
		}
		&-btn {
			img {
				display: none;
			}
		}

		&-topic {
			pointer-events: none;
		}
	}
}

@include tablet-min {
	.accordion {
		&-content {
			overflow-y: hidden;
			max-height: 0px;
			transition: max-height 0.7s;
		}

		&-btn {
			img {
				display: block;
			}
			cursor: pointer;
		}

		&-topic {
			pointer-events: auto;
		}
	}
}
