/* Обычный */
@font-face {
	font-family: "Graphik LCG";
	font-weight: normal;
	font-style: normal;
	src: local("Graphik LCG"),
		url("../fonts/GraphikLCG-Regular/GraphikLCG-Regular.woff2") format("woff2"),
		url("../fonts/GraphikLCG-Regular/GraphikLCG-Regular.woff") format("woff"),
		url("../fonts/GraphikLCG-Regular/GraphikLCG-Regular.ttf") format("ttf"),
		url("../fonts/GraphikLCG-Regular/GraphikLCG-Regular.eot") format("eot");
}

// /* Жирный */
// @font-face {
// 	font-family: "Graphik LCG";
// 	font-weight: bold;
// 	font-style: normal;
// 	src: local("Graphik LCG"),
// 		url("../fonts/GraphikLCG-Bold/GraphikLCG-Bold.woff2") format("woff2"),
// 		url("../fonts/GraphikLCG-Bold/GraphikLCG-Bold.woff") format("woff"),
// 		url("../fonts/GraphikLCG-Bold/GraphikLCG-Bold.ttf") format("ttf"),
// 		url("../fonts/GraphikLCG-Bold/GraphikLCG-Bold.eot") format("eot");
// }

// /* Курсив */
// @font-face {
// 	font-family: "Graphik LCG";
// 	font-weight: italic;
// 	font-style: normal;
// 	src: local("Graphik LCG"),
// 		url("../fonts/GraphikLCG-RegularItalic/GraphikLCG-RegularItalic.woff2")
// 			format("woff2"),
// 		url("../fonts/GraphikLCG-RegularItalic/GraphikLCG-RegularItalic.woff")
// 			format("woff"),
// 		url("../fonts/GraphikLCG-RegularItalic/GraphikLCG-RegularItalic.ttf")
// 			format("ttf"),
// 		url("../fonts/GraphikLCG-RegularItalic/GraphikLCG-RegularItalic.eot")
// 			format("eot");
// }

// /* Курсив */
// @font-face {
// 	font-family: "Graphik LCG";
// 	font-weight: italic;
// 	font-style: normal;
// 	src: local("Graphik LCG"),
// 		url("../fonts/GraphikLCG-RegularItalic/GraphikLCG-RegularItalic.woff2")
// 			format("woff2"),
// 		url("../fonts/GraphikLCG-RegularItalic/GraphikLCG-RegularItalic.woff")
// 			format("woff"),
// 		url("../fonts/GraphikLCG-RegularItalic/GraphikLCG-RegularItalic.ttf")
// 			format("ttf"),
// 		url("../fonts/GraphikLCG-RegularItalic/GraphikLCG-RegularItalic.eot")
// 			format("eot");
// }

// /* Medium */
// @font-face {
// 	font-family: "Graphik LCG";
// 	font-weight: 500;
// 	font-style: normal;
// 	src: local("Graphik LCG"),
// 		url("../fonts/GraphikLCG-Medium/GraphikLCG-Medium.woff2") format("woff2"),
// 		url("../fonts/GraphikLCG-Medium/GraphikLCG-Medium.woff") format("woff"),
// 		url("../fonts/GraphikLCG-Medium/GraphikLCG-Medium.ttf") format("ttf"),
// 		url("../fonts/GraphikLCG-Medium/GraphikLCG-Medium.eot") format("eot");
// }

// /* Semibold */
// @font-face {
// 	font-family: "Graphik LCG";
// 	font-weight: 600;
// 	font-style: normal;
// 	src: local("Graphik LCG"),
// 		url("../fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.woff2")
// 			format("woff2"),
// 		url("../fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.woff") format("woff"),
// 		url("../fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.ttf") format("ttf"),
// 		url("../fonts/GraphikLCG-Semibold/GraphikLCG-Semibold.eot") format("eot");
// }
